#faq{
	display: block;
	width: 1240px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 120px;
	margin-bottom: 175px;
	color: #62656a;
	text-align: center;
	border-bottom: 1.5px solid #b69baf;
}

.inner ul{
	font-size: 18px;
	display: block;
	margin-left: 350px;
}

.inner li{
	display: block;
	width: 500px;
	border-bottom: 1.5px solid #b69baf;
}

.inner p{
	margin-left: 70px;
	margin-top: 50px;
	margin-bottom: 350px;
}