@charset "utf-8";
 
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
/* 〜375px：スマートフォン
------------------------------ */ 

/*サイト全体の指定*/
body {
    max-width: 375px;
    font-size: 65%;
    font-family: "游明朝","ヒラギノ明朝 ProN" ;
}

p {
    font-size: 50%;
}

ul,li {
    list-style-type: none;
}
/*ハンバーガーメニュー*/
.hn {
  position: fixed;
  right: 15px;
  top: 0px;
  width: 100%;
  height: 40px;
}
.global-nav {
  position: fixed;
  right: -200px; /* これで隠れる */
  top: 0;
  width: 100px; /* スマホに収まるくらい */
  height: 400px;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 15px;
  top: 0px;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 30px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 0 14px;
}
.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #111;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}
/*ヘッダー*/
#header {
    width: 100%;
    max-width: 100%;
    padding-top: 50%;
    background-position:center center;
    background-size: cover;
    }

h1 {
    display: block;
    position: absolute;
    top: 2%;
    left: 8%;
}

.top img {
    width: 35%;
    height: auto;
}

ul.new_list li img{
    width: 60%;
    height: auto;
}

ul.category_list li img{
    width: 250%;
    height: auto;
}

/*ナビ*/
#nav {
    display: none;
}

#nav>ul{
    display: flex;
    width: 815px;
    /*height: 58px;*/
    position: absolute;
    top: 7%;
    right: 4%;
}
#nav ul li{
    width: 140px;
    position: relative;
}

#nav a {
    display: block;
    padding: 3px;
    color: #212121;
    border: 1px solid #cfd1d1;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

#nav a:hover {
    background-color: #a5aeb6;
    color: #fff;
    opacity: 0.5;
}

ul.subs{
    position: absolute;
    top: 100%;
    width: 140px;
    background-color: #fff;
    padding-left: 0;
}



/*キャッチフレーズ・インフォ*/
.section_info{
    display: block;
    font-size: 18px;
    margin-top: 50px;
}

p.main_msg {
    color: #b69baf;
    line-height: 30px;
    text-align: center;
}

p.main_info {
    color: #212121;
    margin-top: 50px;
    text-align: center;
    opacity: 0.7;
}

/*商品*/
.section_item {
    margin-top: 100px;
}

h2 {
    margin-left: 40%;
    font-size: 110%;
}
/*新商品*/

ul.new_list {
	display: flex;
    flex-wrap: wrap;
    margin-left: 28%;
}



.new_list a:hover{
 opacity: 0.5;
}

/*カテゴリー*/
.category {
    margin-top: 35%;
}

h2.categoryname {
    margin-left: 43%;
}

ul.category_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:6%;
}

ul.category_list  li {
    width: 18%;
    margin-top: 20%;
}
.category_list a:hover{
    opacity: 0.5;
}
/*フッター*/
#footer {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    background-color: #b69baf;
    color: #fff;
}
p.privacy {
    margin-left: 5%;
}
p.law {
    margin-left: 5%;
}

p.reserved {
    margin-left: 30%;
}

p.privacy a {
    display: block;
    color: #fff;
    text-decoration: none;
}

p.law a{
    display: block;
    color: #fff;
    text-decoration: none;
}

